title Schematico - placeholder API and schema
link(rel="stylesheet", type="text/css", href="css/style.css")
script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
link(rel="stylesheet", type="text/css", href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400")
meta(name="format-detection", content="telephone=no")