extends templates/base
block body
	.full#header
		.center
			.row
				.col12
					.pull-center
						a(href="/")
							h1 schematico

	.center#body
		- if (message) {
			.row
				.col12
					h2 Here's your token: #{token}
					p #{message}
		- } else {
		.row
			.col12
				.form
					form(role="marketing", method="post", action="/signup")
						input(type="email", name="email", placeholder="What's your email?", autocomplete="off")#email
						input(type="password", name="password", placeholder="Set a password", autocomplete="off")#password
						input(type="username", name="username", placeholder="Pick a username", autocomplete="off")#username
						center(style="margin-top: 40px;")
							button(type="submit") Sign up for schematico
		- }
	script.
		$("#email").focus();