::-webkit-input-placeholder { /* WebKit browsers */
	font-size: 33px;
	font-weight: 100;
	color: #ffdcd5
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-size: 33px;
	font-weight: 100;
	color: #ffdcd5
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-size: 33px;
	font-weight: 100;
	color: #ffdcd5
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	font-size: 33px;
	font-weight: 100;
	color: #ffdcd5
}

form[role="activity"]
	input
		border none
		background transparent
		text-indent 4px
		color #666
		font-family "Helvetica Neue"
		font-weight 100
		font-size 33px
		width 100%
		margin 20px 10px

