@import "grid"
@import "forms"

#header
#comingsoon
	padding 20px
	background #fff
	color #ff2d55
	box-shadow 0px 1px fade-out(#ff3b30, 90%)
	h1
		font-size 44px
		font-weight 100
		font-family "Helvetica Neue"
		

#body
	margin-top 40px
	margin-bottom 40px
	h1
		margin-top 60px
		font-size 44px
		font-weight 100
		font-family "Helvetica Neue"
		color #ff5e3a
	h2
		font-size 20px
		font-weight 500
		font-family "Helvetica Neue"
		color #ff2d55
		margin 0
		padding 0
		// margin-top 40px
	p
		line-height 1.2
		font-size 18px
		font-weight 200
		font-family "Helvetica Neue"
		color #4a4a4a
		margin 0
		padding 0
		margin-top 10px
		margin-bottom 40px

	.code
		font-family 'Source Code Pro' !important
		font-weight 400
		font-size 12px
		line-height 1.2
		color #8e8e93
		// border 1px solid fade-out(#c7c7cc, 60%)
		border-radius 5px
		background fade-out(#c7c7cc, 93%)
		margin 0
		padding 15px
		margin-top 10px
		margin-bottom 40px
		&.request
			margin-right 10px
		&.response
			margin-left 10px
		$_indent = 20px
		.t0
			margin-left $_indent * 0
		.t1
			margin-left $_indent * 1
		.t2
			margin-left $_indent * 2
		.t3
			margin-left $_indent * 3
		.t4
			margin-left $_indent * 4
		.t5
			margin-left $_indent * 5
		.t6
			margin-left $_indent * 6
		.t7
			margin-left $_indent * 7

#getstarted
	p
		margin-bottom 20px !important
		&:last-of-type
			margin-bottom 40px !important

#sample-response
#sample-request
.code-block
	h3
		line-height 1.2
		font-size 12px
		font-weight 400
		font-family "Helvetica Neue"
		color #93938d
		margin 0
		padding 0
		text-transform uppercase
		text-align center

#sample-response
	h3
		margin-left 10px

*
	outline 0
	box-sizing border-box
	&:focus
		outline 0

a
	font-family "Helvetica Neue"
	font-weight 400
	color #ff5e3a//#ff2a68//#5ac8fb//#ff2d55
	text-decoration none
	transition all 0.15s
	&:hover
		color #ef4db6//#52edc7//#ff3b30
		text-decoration underline






