@import "grid"
@import "forms"

#header
	margin-top 20px
	box-shadow 0px 1px #f6f6f6
	font-size 17px
	transition all 0.15s
	&:hover
		box-shadow 0px 1px #e5e5e7
	i
		position relative
		font-size 14px
	i > span
		position relative
		top -1px
		font-size 12px
		font-weight 400
		// text-transform uppercase
		margin-left 5px
		&:hover
			text-decoration none
	a
		font-size 12px
		&:hover
			text-decoration none

#brand
	text-align center
	font-size 16px
	line-height 16px
	padding 10px
	line-height 1.5
	font-weight 200
	// letter-spacing 1px
	// text-transform uppercase

#recent
	h1
		font-size 16px
		font-weight 200
		padding 10px


#activity
	padding 10px 0
	box-shadow 0px 1px #f6f6f6

#account-silencer-title
	text-align right
	padding 10px

#account-management
	text-align right
	padding 10px
	a
		display inline-block
		margin-left 15px

#account-notifications
	padding 10px

*
	font-family "Helvetica Neue"
	font-weight 400
	outline 0
	box-sizing border-box
	&:focus
		outline 0

a
	font-family "Helvetica Neue"
	font-weight 400
	color #ff5e3a//#ff2a68//#5ac8fb//#ff2d55
	text-decoration none
	transition all 0.15s
	&:hover
		color #ef4db6//#52edc7//#ff3b30
		text-decoration underline

#activities
	box-shadow 0px 1px #f6f6f6

.row#activities
	margin-top 40px
	[class*="col"]
		&:hover
			background fade-out(#ebf4fd, 80%)
			h1
				box-shadow 0px 1px #b8d9fb

		h1
			cursor default
			color #333
			font-size 14px
			font-weight 600
			box-shadow 0px 1px #ebf4fd
			margin 0
			padding 5px
			padding-top 7px
			text-indent 5px
			text-transform uppercase
			&:hover
				box-shadow 0px 1px #b8d9fb

ul.activities
	display block
	padding 0
	margin 0
	li.activity
		font-size 13px
		font-weight 400
		line-height 30px
		color #333
		display block
		padding 5px
		margin 5px
		&:hover
			background #fff

ul.recents
	display block
	padding 0
	margin 0
	li.recent-activity
		font-size 15px
		font-weight 200
		line-height 30px
		color #333
		display block
		padding 5px
		margin 5px


























