@import "grid"
@import "forms"

#header
	padding 20px
	color #ff5e3a
	box-shadow 0px 1px fade-out(#ff2a68, 90%)
	h1
		font-size 44px
		font-weight 100
		font-family "Helvetica Neue"
		
#body
	margin-top 20px
	margin-bottom 40px
	h2
		font-size 20px
		font-weight 500
		font-family "Helvetica Neue"
		color #ff2d55
		margin 0
		padding 0
		margin-top 40px
		&:first-of-type
			margin-top 10px
	p
		line-height 1.2
		font-size 18px
		font-weight 200
		font-family "Helvetica Neue"
		color #4a4a4a
		margin 0
		padding 0
		margin-top 10px

	.code
		font-family monospace !important
		font-weight 200
		font-size 14px
		line-height 1.2
		color #8e8e93
		border 1px solid fade-out(#c7c7cc, 60%)
		border-radius 5px
		background fade-out(#c7c7cc, 85%)
		margin 0
		padding 15px
		margin-top 20px
		width 100%
		&.request
			margin-right 10px
		&.response
			margin-left 10px
		.t0
			margin-left 0
		.t1
			margin-left 20px
		.t2
			margin-left 40px
		.t3
			margin-left 60px
		.t4
			margin-left 80px

// #header
// 	margin-top 20px
	
// 	font-size 17px
// 	transition all 0.15s
// 	&:hover
// 		box-shadow 0px 1px #e5e5e7
// 	i
// 		position relative
// 		font-size 14px
// 	i > span
// 		position relative
// 		top -1px
// 		font-size 12px
// 		font-weight 400
// 		// text-transform uppercase
// 		margin-left 5px
// 		&:hover
// 			text-decoration none
// 	a
// 		font-size 12px
// 		&:hover
// 			text-decoration none

#brand
	text-align center
	font-size 16px
	line-height 16px
	padding 10px
	line-height 1.5
	font-weight 200
	// letter-spacing 1px
	// text-transform uppercase

#recent
	h1
		font-size 16px
		font-weight 200
		padding 10px


#activity
	padding 10px 0
	box-shadow 0px 1px #f6f6f6

#account-silencer-title
	text-align right
	padding 10px

#account-management
	text-align right
	padding 10px
	a
		display inline-block
		margin-left 15px

#account-notifications
	padding 10px

*
	outline 0
	box-sizing border-box
	&:focus
		outline 0

a
	font-family "Helvetica Neue"
	font-weight 400
	color #ff5e3a//#ff2a68//#5ac8fb//#ff2d55
	text-decoration none
	transition all 0.15s
	&:hover
		color #ef4db6//#52edc7//#ff3b30
		text-decoration underline

#activities
	box-shadow 0px 1px #f6f6f6

.row#activities
	margin-top 40px
	[class*="col"]
		&:hover
			background fade-out(#ebf4fd, 80%)
			h1
				box-shadow 0px 1px #b8d9fb

		h1
			cursor default
			color #333
			font-size 14px
			font-weight 600
			box-shadow 0px 1px #ebf4fd
			margin 0
			padding 5px
			padding-top 7px
			text-indent 5px
			text-transform uppercase
			&:hover
				box-shadow 0px 1px #b8d9fb

ul.activities
	display block
	padding 0
	margin 0
	li.activity
		font-size 13px
		font-weight 400
		line-height 30px
		color #333
		display block
		padding 5px
		margin 5px
		&:hover
			background #fff

ul.recents
	display block
	padding 0
	margin 0
	li.recent-activity
		font-size 15px
		font-weight 200
		line-height 30px
		color #333
		display block
		padding 5px
		margin 5px


























